<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>

    <connectionStrings>
        <add name="Sales_DB_Connection"
             connectionString="Server=localhost,1433;Database=Sales_DB;User Id=sa;Password=Root123*;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" />
    </system.web>

    <system.serviceModel>
        <services>
            <service name="ProductSOAPService.ProductSOAPService">
                <endpoint address="" binding="basicHttpBinding" contract="ProductSOAPService.IProductSOAPService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/ProductSOAPService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- Habilitar metadatos para que el WSDL sea accesible -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- Habilitar detalles de errores para depuración -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <bindings>
            <!-- Configuración de basicHttpBinding -->
            <basicHttpBinding>
                <binding name="basicHttpBindingConfig" maxReceivedMessageSize="2000000">
                    <readerQuotas maxStringContentLength="2000000" />
                </binding>
            </basicHttpBinding>
        </bindings>

        <protocolMapping>
            <add binding="basicHttpBinding" scheme="http" />
        </protocolMapping>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>